/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
:root {
  --background-color: #eceff4;
  --main-color: #f3f4f6;
  --titles-color: rgb(1, 1, 1);
  --second-color: #ff2949;
  --thered-color: rgb(184 192 205);
  --fourth-color: #6abff7;
  --five-color: #ba9544;
  --six-color: #4e3434;
  --seven-color: #5c5470;
  --eight-color: #1e76c4;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: main_font;
  position: relative;

}
.header {
  background-color: var(--main-color);
  max-height: 10vh;
  border-bottom: 3px solid var(--eight-color);
}
.logoAndName .logo img {
  width: 50;
  height: 62px;
}
.logoAndName .name {
  color: var(--titles-color);
}
.profile .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main{
  min-height: 85vh;
}
.container-content{
  background-color: #1e76c4;
  border-radius: 6px;
  box-shadow: -5px 4px 9px 1px #00000045;
  color: var(--main-color);
  font-size: 20px;
  transition:  all 0.5s;
}
.container-content .description{
  color: var(--main-color);
}
.container-content .icon i{
  font-size: 65px;
}
.containre.week .container-content {
  background-color: var(--second-color);
}
.containre.month .container-content {
  background-color: var(--five-color);
}


.containre.d .container-content {
  background-color: var(--titles-color);
}.containre.w .container-content {
  background-color: var(--six-color);
}.containre.m .container-content {
  background-color: var(--fourth-color);
}
.container-content:hover{
  opacity: 0.7;
}
.box-header{
  background-color: var(--thered-color);
  border-radius: 10px 10px 0 0;
  color: var(--main-color);
}
.box-cont{
  min-height: fit-content;
  max-height: 1000px;
  border-bottom:2px solid var(--thered-color) ;
  border-right:2px solid var(--thered-color) ;
  border-left:2px solid var(--thered-color) ;
  border-radius: 0 0 10px 10px;
}
footer {
  clear: both;
  position: relative;
  background-color: var(--thered-color);
  color: var(--main-color);
}
footer img {
  width: 60px;
  height: 60px;
}
.pe{
  background-color: rgb(0 126 255 / 61%);
  border-radius: 8px;
}
.pe:nth-child(even){
  background-color: rgb(255 0 0 / 46%);
}
.pe div{
  color: var(--main-color);
}
@font-face {
    font-family: main_font;
    src: url(fonts/Almarai-Bold.ttf);
  }
  